@media only screen and (max-width: 767px) {
    .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar ul li a {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* --------Welcome Page---------- */
    .welcome {
        width: 100%;
        display: flex;
        padding: 5px;
    }

    .welcome::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./Pics/backmain.jpg');
        background-size: cover;
        background-position: left;
        filter: blur(8px);
        z-index: -1;
    }

    .wel-l {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        animation: none;
    }

    .wel-l input {
        width: 70%;

    }

    .wel-r {
        animation: none;
        display: none;
    }

    /* ---------------Catagories---------------- */
    .catagorie {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .popular-cat {
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        border: none;
    }

    /* -----------Offer---------- */
    .offer{
        width:100%;
        height:100%;
    }
    .offer video{
        width:100%;
        height:100%;
    }
    .of-content{
        width:100%;
        text-align:center;
    }
    /* --------------Fast Food--------------- */
    .f-food{
        width:100%;
        height:100%;
    }
    .images{
        width:100%;
        height:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .f-img{
        width:80%;
        height:400px;
        text-align: justify;
        padding: 20px;
        box-shadow: none;
    }
    .f-img button{
        width:50%;
        height:50px;
        font-size: 20px;
    }
    .f-img p:nth-child(2){
        font-size:40px;
    }
    .f-img p:nth-child(3){
        font-size:15px;
    }
    .f-img h6{
        font-size: 15px;
    }
    .overlay-text{
        display: none;
    }
    /* ---------------------News Letter------------------ */
    .newsletter{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        border-radius:10px;
        border:none;
        padding:10px;
        background: none;
    }
    .news-left{ 
        display: none;
    }
    .news-right{
        width:100%;
        height:100%;
        border-radius:0px;
        border-radius:10px;
    }
/* --------------Footer---------------- */
    .ftr{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        border:none;
    }
    .ftr a{
        color:#000;
    }
    .up-ftr{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        padding:10px;
        row-gap:20px;
    }
    .box{
        width:45%;
        height:100%;
    }
    .copyr{
        width:100%;
    }
    .copyr a{
        color:#3305bc;
    }
}
/* ---------------Tablet Responsive-------------- */
@media only screen and (max-width: 1024px){
    .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar ul li a {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* ------------- */
    .welcome{
        width:100%;
    }
    .popular-cat{
        width:100%;
        height:100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    /* -------Fst Food-------- */
    .f-food{
        width:100%;
        height:100%;
    }
    .images{
        width:100%;
        height:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .f-img{
        width:200px;
        height:400px;
    }
    .overlay-text{
        display: none;
    }
    /* -------------News---------- */
    .newsletter{
        width:100%;
        height:100%;
    }
    .news-right{
        font-size:20px;
        border-radius:0px;
    }

}